<ion-header>
  <ion-toolbar>
    <ion-title>Crear</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss('close')"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row class="ion-align-items-center">
    <ion-col size="12">
      <ion-card style="height: auto" class="card-border">
        <ion-card-header>
          <ion-title style="text-align: center;align-items: center;" size="large">Crear Habitaciones</ion-title>
        </ion-card-header>
        <ion-card-content style="width: 100%;">
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-select [(ngModel)]="hotel_id" interface="popover" label="Seleccione el Hotel de la Habitacion" label-placement="floating" fill="solid">
                <ion-select-option *ngFor="let hotel of datalistHotel" [value]="hotel.id">{{ hotel.name }}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="12">
              <ion-input type="text" fill="solid" label="Numero de Habitación" labelPlacement="floating" helperText="Digite numero de Habitaciones" ngModel [(ngModel)]="room_number"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-select [(ngModel)]="type" interface="popover" label="Seleccione el tipo de Habitacion" label-placement="floating" fill="solid">
                <ion-select-option  value="Habitación individual">Habitación individual</ion-select-option>
                <ion-select-option  value="Habitación doble estándar">Habitación doble estándar</ion-select-option>
                <ion-select-option  value="Habitación doble deluxe">Habitación doble deluxe</ion-select-option>
                <ion-select-option  value="Estudio o apartamento">Estudio o apartamento</ion-select-option>
                <ion-select-option  value="Suite júnior">Suite júnior</ion-select-option>
                <ion-select-option  value="Suite ejecutiva">Suite ejecutiva</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col size="12">
              <ion-input type="text" fill="solid" label="Precio por noche" labelPlacement="floating" helperText="Digite el precio por noche" ngModel [(ngModel)]="price_per_night"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-toggle  [(ngModel)]="is_available">Estado</ion-toggle>
                <ion-note slot="helper">Seleccione si está disponible</ion-note>
              </ion-item>
            </ion-col>
            <ion-item lines="none">
              <ion-button slot="end" size="default" color="success" (click)="crear()">Crear</ion-button>
            </ion-item>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
