<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;align-items: center;" size="large">Administración de Reservaciones</ion-title>
    <ion-button slot="end" shape="round" color="danger" fill="outline" (click)="logout()" >Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="margin-responsive">

    <ion-row class="ion-align-items-center">
      <ion-col size="12">
        <ion-card style="height: auto;" class="card-border">
          <ion-card-content style="width: 100%;">
            <ion-row class="ion-align-items-center">
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-label slot="start" class="ion-text-wrap" style="font-size: 28px;">
                    Gestión de Reservas
                    <p>Administre sus Reservaciones desde este modulo!</p>
                  </ion-label>
                  <ion-button slot="end" size="default" color="success" (click)="openModal()"> <ion-icon name="add-outline"></ion-icon> Una reserva</ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="4" *ngFor ="let info of datalistReservation">
        <ion-card style="height: auto;" class="card-border">
          <ion-card-content style="width: 100%;">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img src="./../../assets/img/room.png">
              </ion-thumbnail>
              <ion-label class="ion-text-wrap">
                {{info.Guest.first_name}} {{info.Guest.last_name}}
                <p>
                  <ion-icon name="mail-outline"></ion-icon> {{info.Guest.email}}<br>
                  <ion-icon name="cash-outline"></ion-icon> {{info.total_price}}<br>
                  <ion-icon name="calendar-outline"></ion-icon> Desde: {{info.check_in_date}} Hasta: {{info.check_out_date}}<br>
                  <ion-icon name="home-outline"></ion-icon> {{info.Room.type}}<br>
                </p>
                <ion-badge color="success" *ngIf="info.status === 'completed'">Completado</ion-badge>
                <ion-badge color="primary" *ngIf="info.status === 'confirmed'">Confirmado</ion-badge>
                <ion-badge color="danger" *ngIf="info.status === 'cancelled'">Cancelado</ion-badge>
              </ion-label>
              <ion-buttons>
                <div style="cursor: pointer">
                  <ion-icon slot="end" name="close-circle" color="danger" (click)="deleteReservation(info.id)"></ion-icon>
                </div>
                <div style="cursor: pointer">
                  <ion-icon slot="end" name="create" color="secondary" (click)="setOpen(true,info)"></ion-icon>
                </div>
              </ion-buttons>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modificar Habitación</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,null)"><ion-icon name="close"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-card style="height: auto" class="card-border">
              <ion-card-header>
                <ion-title style="text-align: center;align-items: center;" size="large">Modificando Reservaciones</ion-title>
              </ion-card-header>
              <ion-card-content style="width: 100%;">
                <ion-row class="ion-align-items-center">
                  <ion-col size="12">
                    <ion-select [(ngModel)]="guest_id" interface="popover" label="Seleccione el Cliente" label-placement="floating" fill="solid">
                      <ion-select-option *ngFor="let guest of datalistGuest" [value]="guest.id">{{ guest.first_name }} {{ guest.last_name }}</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="12">
                    <ion-select [(ngModel)]="room_id" interface="popover" label="Seleccione el Cliente" label-placement="floating" fill="solid">
                      <ion-select-option *ngFor="let room of datalistRoom" [value]="room.id">{{ room.room_number }} {{ mostrarNombreHotel(room.hotel_id) }}</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="12">
                    <ion-input type="date" fill="solid" label="Fecha Inicial" labelPlacement="floating" helperText="Digite el correo del huesped" ngModel [(ngModel)]="check_in_date"></ion-input>
                  </ion-col>
                  <ion-col size="12">
                    <ion-input type="date" fill="solid" label="Fecha Final" labelPlacement="floating" helperText="Digite el telefono del huesped" ngModel [(ngModel)]="check_out_date"></ion-input>
                  </ion-col>
                  <ion-col size="12">
                    <ion-input type="text" fill="solid" label="Precio total" labelPlacement="floating" helperText="Digite el telefono del huesped" ngModel [(ngModel)]="total_price"></ion-input>
                  </ion-col>
                  <ion-col size="12">
                    <ion-select [(ngModel)]="status" interface="popover" label="Seleccione el Estado" label-placement="floating" fill="solid">
                      <ion-select-option value="confirmed">Confirmado</ion-select-option>
                      <ion-select-option value="cancelled">Cancelado</ion-select-option>
                      <ion-select-option value="completed">Completado</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-item lines="none">
                    <ion-button slot="end" size="default" color="success" (click)="Modificar(this.ids)" >Modificar</ion-button>
                  </ion-item>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
