ion-content {
    --background: linear-gradient(135deg,#4c4aa6,#3ac1be)!important;
  }
  ion-menu-button {
    color: var(--ion-color-primary);
}
ion-card.md.hydrated {
    height: 50hv;
}
ion-card{
    margin-right: 25%!important;
    margin-left: 25%!important;
    margin-top: 10%!important;
}
ion-card-header{
    margin-top: 15px;
}
ion-card.md.hydrated .noheigth{
    height: auto;
}

@media screen and (min-width: 300px) and (max-width : 700px) {
    ion-card{
    margin-right: 5%!important;
    margin-left: 5%!important;
    margin-top: 50%!important;
    }

}
@media screen and (min-width: 700px) and (max-width : 900px) {
    ion-card{
    margin-right: 10%!important;
    margin-left: 10%!important;
    margin-top: 25%!important;
    }


}

ion-item.item.md.in-list.ion-activatable.ion-focusable.hydrated.item-label.item-label-stacked.item-interactive.item-datetime {
    border: 2px solid var(--ion-color-primary);
    border-radius: 9px;
    margin-bottom: 9px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.ion-color.ion-color-success.md.hydrated {
    font-size: x-large;
    font-weight: bold;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.ion-color.ion-color-primary.md.hydrated {
    font-size: x-large;
    font-weight: bold;
}
ion-label.sc-ion-label-md-h.sc-ion-label-md-s.ion-color.ion-color-otro.md.hydrated {
    font-size: x-large;
    font-weight: bold;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.ion-color.ion-color-indicador.md.hydrated {
    font-size: x-large;
    font-weight: bold;
}
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}