<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-item lines="none">
        <img src="../../assets/img/register.png" style="max-width: 30%!important;margin: auto!important;">
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Usuario: </ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo: </ion-label>
          <ion-input  ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Contraseña: </ion-label>
          <ion-input  ></ion-input>
        </ion-item>
        <ion-item lines="none" style="margin-top: 4%;">
          <ion-button shape="round" color="success" fill="outline" style="margin: auto!important;width: 120px;height: 40px;font-size: 15px;" >Registrar</ion-button>
         </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
